[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
botostubs = "*"
twine = "*"

[packages]
jsonschema = "*"
click = "*"
boto3 = "*"
ruamel-yaml = "*"
iam_sudo = {editable = true,path = "."}

[requires]
python_version = "3.7"
